In [ ]:
import pandas as pd
#loading data into pandas
df = pd.read_csv('Titanic.csv')
pd.set_option('display.max_columns', 80)
print(df.head(5))
# print(df.hist())-
print('********')
print(df[df.duplicated()])
print('********')
##reading data
#reading columns
print(df.columns)
print(df[['Name', 'Sex', 'Cabin', 'Ticket', 'Fare']])
#reading rows, the'i' in 'iloc' means integer. i.e iloc means index location
print(df.iloc[68,7])
print(df.loc[df['Age'] > 70])

 
##sorting/describing data
print(df.describe())
print(df.sort_values(['Age','Fare'], ascending=[1,0]))

##making changes to column
#creating new column
# df['Total'] = df['Age'] + df['Fare']
print(df.head())

#saving files
# pd.to_csv('Titanic.csv')

print(df.loc[df['Name'] == 'Emma'])

#Creating a series and dataframe using dictionary
new_df = pd.DataFrame({'Name': ['Emma', 'Michael', 'Gray'],
                        'Age': [22, 24, 23],
                        'State': ['Enugu', 'Edo', 'Imo']}, index = [1,2,3]
                        )
print(new_df)
new_df.set_index('Name', inplace=True)
print(new_df)
print(df[df['Age'] == 23])
print(new_df['Age'] == 23)
print(new_df.loc['Michael'])
new_df['Gender'] = ['Male', 'Male', 'Male'] # Creating a new column

# new_df.drop()
# print(new_df)

df.describe(include='all')

:

*Hello World* 

This is a Markdown in Jupyter notebook. 

I love learning new things!

In [4]:
# print(df.head())
print(df.shape)
print(df.columns)
df.dropna(axis=1) # Dropping columns with null values
# print(df.sort_values(['Age', 'Fare'], ascending = [True, False]))
'Emmanuel'
pd.isnull(df.head(10))
# df.set_index('PassengerId')
df.sample(12) # returns a specified number of random rows from the dataframe
# df.drop(['Unnamed: 0.1.1.1.1.1 '])

(891, 21)
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Name.1', 'Surname', 'Sex',
       'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20'],
      dtype='object')

,PassengerId,Survived,Pclass,Name,Name.1,Surname,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
694,695,0,1,"Weir, Col. John",Weir,Col. John,male,60.0,0,0,113800,26.5500,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN
722,723,0,2,"Gillespie, Mr. William Henry",Gillespie,Mr. William Henry,male,34.0,0,0,12233,13.0000,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",Andersson,Master. Sigvard Harald Elias,male,4.0,4,2,347082,31.2750,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",Stone,Mrs. George Nelson (Martha Evelyn),female,62.0,0,0,113572,80.0000,B28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
549,550,1,2,"Davies, Master. John Morgan Jr",Davies,Master. John Morgan Jr,male,8.0,1,1,C.A. 33112,36.7500,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362,363,0,3,"Barbara, Mrs. (Catherine David)",Barbara,Mrs. (Catherine David),female,45.0,0,1,2691,14.4542,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
743,744,0,3,"McNamee, Mr. Neal",McNamee,Mr. Neal,male,24.0,1,0,376566,16.1000,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN
824,825,0,3,"Panula, Master. Urho Abraham",Panula,Master. Urho Abraham,male,2.0,4,1,3101295,39.6875,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN
318,319,1,1,"Wick, Miss. Mary Natalie",Wick,Miss. Mary Natalie,female,31.0,0,2,36928,164.8667,C7,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN
324,325,0,3,"Sage, Mr. George John Jr",Sage,Mr. George John Jr,male,NaN,8,2,CA. 2343,69.5500,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN
330,331,1,3,"McCoy, Miss. Agnes",McCoy,Miss. Agnes,female,NaN,2,0,367226,23.2500,NaN,Q,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,58,0,3,"Novel, Mr. Mansouer",Novel,Mr. Mansouer,male,28.5,0,0,2697,7.2292,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df['Age'].mean()
df['Age'].isnull().sum() # Geting the total number of null values
df.columns
# df.set_index('PassengerId', inplace = True)
df.isnull().head(10)
df.groupby('Cabin').mean().head()
# df.groupby('Pclass').sum()
df['Cabin'].dropna().head(10)

1             C85
3            C123
6             E46
10             G6
11           C103
21            D56
23             A6
27    C23 C25 C27
31            B78
52            D33
Name: Cabin, dtype: object

In [6]:
import matplotlib.pyplot as plt

# plt.plot(df['Age'],df['Fare'])
plt.show()
Fare_512 = df[df['Fare'] > 200].sort_values(['Fare', 'Age'], ascending = [False, True])
# plt.plot(Fare_512['Age'], Fare_512['Fare'])
Fare_512['Sex'].value_counts()
a = df['Sex'].value_counts(normalize = True)
print(a)
# df.set_index('PassengerId', inplace = True)
df['Cabin'].value_counts(normalize = True)

male      0.647587
female    0.352413
Name: Sex, dtype: float64

C23 C25 C27    0.019608
B96 B98        0.019608
G6             0.019608
C22 C26        0.014706
E101           0.014706
                 ...
B69            0.004902
A19            0.004902
D45            0.004902
F G63          0.004902
E31            0.004902
Name: Cabin, Length: 147, dtype: float64

In [7]:
#groupby function
sex_grp = df.groupby(['Sex'])
sex_grp
print(df.columns)
# sex_grp['Pclass'].value_counts(normalize=True)
#aggregate function allows multiple statistical tool in one line of code
print(sex_grp['Age'].agg(['mean', 'median', 'max', 'min']))
sex_grp['Name'].apply(lambda x: x.str.contains('Paulinus').sum())

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Name.1', 'Surname', 'Sex',
       'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20'],
      dtype='object')
             mean  median   max   min
Sex
female  27.915709    27.0  63.0  0.75
male    30.726645    29.0  80.0  0.42

Sex
female    0
male      0
Name: Name, dtype: int64

In [7]:
df.columns
df = df.rename(columns={'Name': 'Full_name', 'Cabin': 'Class'})
df.groupby('Sex')['Survived'].value_counts(normalize = True)

# help(pd)

Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    **pandas** is a Python package providing fast, flexible, and expressive data
    structures designed to make working with "relational" or "labeled" data both
    easy and intuitive. It aims to be the fundamental high-level building block for
    doing practical, **real world** data analysis in Python. Additionally, it has
    the broader goal of becoming **the most powerful and flexible open source data
    analysis / manipulation tool available in any language**. It is already well on
    its way toward this goal.

    Main Features
    -------------
    Here are just a few of the things that pandas does well:

      - Easy handling of missing data in floating point as well as non-floating
        point data.
      - Size mutability: columns can be inserted and deleted from DataFrame and
        higher dimensional objects
      - Automatic and explicit data alignment: objects can be explicitly aligned
        to a set of labels, or the user can simply ignore the labels and let
        `Series`, `DataFrame`, etc. automatically align the data for you in
        computations.
      - Powerful, flexible group by functionality to perform split-apply-combine
        operations on data sets, for both aggregating and transforming data.
      - Make it easy to convert ragged, differently-indexed data in other Python
        and NumPy data structures into DataFrame objects.
      - Intelligent label-based slicing, fancy indexing, and subsetting of large
        data sets.
      - Intuitive merging and joining data sets.
      - Flexible reshaping and pivoting of data sets.
      - Hierarchical labeling of axes (possible to have multiple labels per tick).
      - Robust IO tools for loading data from flat files (CSV and delimited),
        Excel files, databases, and saving/loading data from the ultrafast HDF5
        format.
      - Time series-specific functionality: date range generation and frequency
        conversion, moving window statistics, date shifting and lagging.

PACKAGE CONTENTS
    _config (package)
    _libs (package)
    _testing
    _typing
    _version
    api (package)
    arrays (package)
    compat (package)
    conftest
    core (package)
    errors (package)
    io (package)
    plotting (package)
    testing
    tests (package)
    tseries (package)
    util (package)

SUBMODULES
    _hashtable
    _lib
    _tslib
    offsets

FUNCTIONS
    __getattr__(name)
        # GH 27101

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NA = <NA>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    __git_version__ = '2cb96529396d93b46abab7bbc73a208e708c642e'
    describe_option = <pandas._config.config.CallableDynamicDoc object>
        describe_option(pat, _print_desc=False)

        Prints the description for one or more registered options.

        Call with not arguments to get a listing for all registered options.

        Available options:

        - compute.[use_bottleneck, use_numba, use_numexpr]
        - display.[chop_threshold, colheader_justify, column_space, date_dayfirst,
          date_yearfirst, encoding, expand_frame_repr, float_format]
        - display.html.[border, table_schema, use_mathjax]
        - display.[large_repr]
        - display.latex.[escape, longtable, multicolumn, multicolumn_format, multirow,
          repr]
        - display.[max_categories, max_columns, max_colwidth, max_info_columns,
          max_info_rows, max_rows, max_seq_items, memory_usage, min_rows, multi_sparse,
          notebook_repr_html, pprint_nest_depth, precision, show_dimensions]
        - display.unicode.[ambiguous_as_wide, east_asian_width]
        - display.[width]
        - io.excel.ods.[reader, writer]
        - io.excel.xls.[reader, writer]
        - io.excel.xlsb.[reader]
        - io.excel.xlsm.[reader, writer]
        - io.excel.xlsx.[reader, writer]
        - io.hdf.[default_format, dropna_table]
        - io.parquet.[engine]
        - mode.[chained_assignment, sim_interactive, use_inf_as_na, use_inf_as_null]
        - plotting.[backend]
        - plotting.matplotlib.[register_converters]

        Parameters
        ----------
        pat : str
            Regexp pattern. All matching keys will have their description displayed.
        _print_desc : bool, default True
            If True (default) the description(s) will be printed to stdout.
            Otherwise, the description(s) will be returned as a unicode string
            (for testing).

        Returns
        -------
        None by default, the description(s) as a unicode string if _print_desc
        is False

        Notes
        -----
        The available options with its descriptions:

        compute.use_bottleneck : bool
            Use the bottleneck library to accelerate if it is installed,
            the default is True
            Valid values: False,True
            [default: True] [currently: True]
        compute.use_numba : bool
            Use the numba engine option for select operations if it is installed,
            the default is False
            Valid values: False,True
            [default: False] [currently: False]
        compute.use_numexpr : bool
            Use the numexpr library to accelerate computation if it is installed,
            the default is True
            Valid values: False,True
            [default: True] [currently: True]
        display.chop_threshold : float or None
            if set to a float value, all float values smaller then the given threshold
            will be displayed as exactly 0 by repr and friends.
            [default: None] [currently: None]
        display.colheader_justify : 'left'/'right'
            Controls the justification of column headers. used by DataFrameFormatter.
            [default: right] [currently: right]
        display.column_space No description available.
            [default: 12] [currently: 12]
        display.date_dayfirst : boolean
            When True, prints and parses dates with the day first, eg 20/01/2005
            [default: False] [currently: False]
        display.date_yearfirst : boolean
            When True, prints and parses dates with the year first, eg 2005/01/20
            [default: False] [currently: False]
        display.encoding : str/unicode
            Defaults to the detected encoding of the console.
            Specifies the encoding to be used for strings returned by to_string,
            these are generally strings meant to be displayed on the console.
            [default: UTF-8] [currently: UTF-8]
        display.expand_frame_repr : boolean
            Whether to print out the full DataFrame repr for wide DataFrames across
            multiple lines, `max_columns` is still respected, but the output will
            wrap-around across multiple "pages" if its width exceeds `display.width`.
            [default: True] [currently: True]
        display.float_format : callable
            The callable should accept a floating point number and return
            a string with the desired format of the number. This is used
            in some places like SeriesFormatter.
            See formats.format.EngFormatter for an example.
            [default: None] [currently: None]
        display.html.border : int
            A ``border=value`` attribute is inserted in the ``<table>`` tag
            for the DataFrame HTML repr.
            [default: 1] [currently: 1]
        display.html.table_schema : boolean
            Whether to publish a Table Schema representation for frontends
            that support it.
            (default: False)
            [default: False] [currently: False]
        display.html.use_mathjax : boolean
            When True, Jupyter notebook will process table contents using MathJax,
            rendering mathematical expressions enclosed by the dollar symbol.
            (default: True)
            [default: True] [currently: True]
        display.large_repr : 'truncate'/'info'
            For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
            show a truncated table (the default from 0.13), or switch to the view from
            df.info() (the behaviour in earlier versions of pandas).
            [default: truncate] [currently: truncate]
        display.latex.escape : bool
            This specifies if the to_latex method of a Dataframe uses escapes special
            characters.
            Valid values: False,True
            [default: True] [currently: True]
        display.latex.longtable :bool
            This specifies if the to_latex method of a Dataframe uses the longtable
            format.
            Valid values: False,True
            [default: False] [currently: False]
        display.latex.multicolumn : bool
            This specifies if the to_latex method of a Dataframe uses multicolumns
            to pretty-print MultiIndex columns.
            Valid values: False,True
            [default: True] [currently: True]
        display.latex.multicolumn_format : bool
            This specifies if the to_latex method of a Dataframe uses multicolumns
            to pretty-print MultiIndex columns.
            Valid values: False,True
            [default: l] [currently: l]
        display.latex.multirow : bool
            This specifies if the to_latex method of a Dataframe uses multirows
            to pretty-print MultiIndex rows.
            Valid values: False,True
            [default: False] [currently: False]
        display.latex.repr : boolean
            Whether to produce a latex DataFrame representation for jupyter
            environments that support it.
            (default: False)
            [default: False] [currently: False]
        display.max_categories : int
            This sets the maximum number of categories pandas should output when
            printing out a `Categorical` or a Series of dtype "category".
            [default: 8] [currently: 8]
        display.max_columns : int
            If max_cols is exceeded, switch to truncate view. Depending on
            `large_repr`, objects are either centrally truncated or printed as
            a summary view. 'None' value means unlimited.

            In case python/IPython is running in a terminal and `large_repr`
            equals 'truncate' this can be set to 0 and pandas will auto-detect
            the width of the terminal and print a truncated object which fits
            the screen width. The IPython notebook, IPython qtconsole, or IDLE
            do not run in a terminal and hence it is not possible to do
            correct auto-detection.
            [default: 20] [currently: 80]
        display.max_colwidth : int or None
            The maximum width in characters of a column in the repr of
            a pandas data structure. When the column overflows, a "..."
            placeholder is embedded in the output. A 'None' value means unlimited.
            [default: 50] [currently: 50]
        display.max_info_columns : int
            max_info_columns is used in DataFrame.info method to decide if
            per column information will be printed.
            [default: 100] [currently: 100]
        display.max_info_rows : int or None
            df.info() will usually show null-counts for each column.
            For large frames this can be quite slow. max_info_rows and max_info_cols
            limit this null check only to frames with smaller dimensions than
            specified.
            [default: 1690785] [currently: 1690785]
        display.max_rows : int
            If max_rows is exceeded, switch to truncate view. Depending on
            `large_repr`, objects are either centrally truncated or printed as
            a summary view. 'None' value means unlimited.

            In case python/IPython is running in a terminal and `large_repr`
            equals 'truncate' this can be set to 0 and pandas will auto-detect
            the height of the terminal and print a truncated object which fits
            the screen height. The IPython notebook, IPython qtconsole, or
            IDLE do not run in a terminal and hence it is not possible to do
            correct auto-detection.
            [default: 60] [currently: 60]
        display.max_seq_items : int or None
            When pretty-printing a long sequence, no more then `max_seq_items`
            will be printed. If items are omitted, they will be denoted by the
            addition of "..." to the resulting string.

            If set to None, the number of items to be printed is unlimited.
            [default: 100] [currently: 100]
        display.memory_usage : bool, string or None
            This specifies if the memory usage of a DataFrame should be displayed when
            df.info() is called. Valid values True,False,'deep'
            [default: True] [currently: True]
        display.min_rows : int
            The numbers of rows to show in a truncated view (when `max_rows` is
            exceeded). Ignored when `max_rows` is set to None or 0. When set to
            None, follows the value of `max_rows`.
            [default: 10] [currently: 10]
        display.multi_sparse : boolean
            "sparsify" MultiIndex display (don't display repeated
            elements in outer levels within groups)
            [default: True] [currently: True]
        display.notebook_repr_html : boolean
            When True, IPython notebook will use html representation for
            pandas objects (if it is available).
            [default: True] [currently: True]
        display.pprint_nest_depth : int
            Controls the number of nested levels to process when pretty-printing
            [default: 3] [currently: 3]
        display.precision : int
            Floating point output precision in terms of number of places after the
            decimal, for regular formatting as well as scientific notation. Similar
            to ``precision`` in :meth:`numpy.set_printoptions`.
            [default: 6] [currently: 6]
        display.show_dimensions : boolean or 'truncate'
            Whether to print out dimensions at the end of DataFrame repr.
            If 'truncate' is specified, only print out the dimensions if the
            frame is truncated (e.g. not display all rows and/or columns)
            [default: truncate] [currently: truncate]
        display.unicode.ambiguous_as_wide : boolean
            Whether to use the Unicode East Asian Width to calculate the display text
            width.
            Enabling this may affect to the performance (default: False)
            [default: False] [currently: False]
        display.unicode.east_asian_width : boolean
            Whether to use the Unicode East Asian Width to calculate the display text
            width.
            Enabling this may affect to the performance (default: False)
            [default: False] [currently: False]
        display.width : int
            Width of the display in characters. In case python/IPython is running in
            a terminal this can be set to None and pandas will correctly auto-detect
            the width.
            Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
            terminal and hence it is not possible to correctly detect the width.
            [default: 80] [currently: 80]
        io.excel.ods.reader : string
            The default Excel reader engine for 'ods' files. Available options:
            auto, odf.
            [default: auto] [currently: auto]
        io.excel.ods.writer : string
            The default Excel writer engine for 'ods' files. Available options:
            auto, odf.
            [default: auto] [currently: auto]
        io.excel.xls.reader : string
            The default Excel reader engine for 'xls' files. Available options:
            auto, xlrd.
            [default: auto] [currently: auto]
        io.excel.xls.writer : string
            The default Excel writer engine for 'xls' files. Available options:
            auto, xlwt.
            [default: auto] [currently: auto]
            (Deprecated, use `` instead.)
        io.excel.xlsb.reader : string
            The default Excel reader engine for 'xlsb' files. Available options:
            auto, pyxlsb.
            [default: auto] [currently: auto]
        io.excel.xlsm.reader : string
            The default Excel reader engine for 'xlsm' files. Available options:
            auto, xlrd, openpyxl.
            [default: auto] [currently: auto]
        io.excel.xlsm.writer : string
            The default Excel writer engine for 'xlsm' files. Available options:
            auto, openpyxl.
            [default: auto] [currently: auto]
        io.excel.xlsx.reader : string
            The default Excel reader engine for 'xlsx' files. Available options:
            auto, xlrd, openpyxl.
            [default: auto] [currently: auto]
        io.excel.xlsx.writer : string
            The default Excel writer engine for 'xlsx' files. Available options:
            auto, openpyxl, xlsxwriter.
            [default: auto] [currently: auto]
        io.hdf.default_format : format
            default format writing format, if None, then
            put will default to 'fixed' and append will default to 'table'
            [default: None] [currently: None]
        io.hdf.dropna_table : boolean
            drop ALL nan rows when appending to a table
            [default: False] [currently: False]
        io.parquet.engine : string
            The default parquet reader/writer engine. Available options:
            'auto', 'pyarrow', 'fastparquet', the default is 'auto'
            [default: auto] [currently: auto]
        mode.chained_assignment : string
            Raise an exception, warn, or no action if trying to use chained assignment,
            The default is warn
            [default: warn] [currently: warn]
        mode.sim_interactive : boolean
            Whether to simulate interactive mode for purposes of testing
            [default: False] [currently: False]
        mode.use_inf_as_na : boolean
            True means treat None, NaN, INF, -INF as NA (old way),
            False means None and NaN are null, but INF, -INF are not NA
            (new way).
            [default: False] [currently: False]
        mode.use_inf_as_null : boolean
            use_inf_as_null had been deprecated and will be removed in a future
            version. Use `use_inf_as_na` instead.
            [default: False] [currently: False]
            (Deprecated, use `mode.use_inf_as_na` instead.)
        plotting.backend : str
            The plotting backend to use. The default value is "matplotlib", the
            backend provided with pandas. Other backends can be specified by
            providing the name of the module that implements the backend.
            [default: matplotlib] [currently: matplotlib]
        plotting.matplotlib.register_converters : bool or 'auto'.
            Whether to register converters with matplotlib's units registry for
            dates, times, datetimes, and Periods. Toggling to False will remove
            the converters, restoring any converters that pandas overwrote.
            [default: auto] [currently: auto]

    get_option = <pandas._config.config.CallableDynamicDoc object>
        get_option(pat)

        Retrieves the value of the specified option.

        Available options:

        - compute.[use_bottleneck, use_numba, use_numexpr]
        - display.[chop_threshold, colheader_justify, column_space, date_dayfirst,
          date_yearfirst, encoding, expand_frame_repr, float_format]
        - display.html.[border, table_schema, use_mathjax]
        - display.[large_repr]

In [10]:
# print(df.loc[[678, 23], ['Age', 'Sex','Survived', 'Cabin']])
# print(df.loc[1:11])
# df.reset_index()
# print(df.loc[1:7, 'Name': 'Ticket'])
print(df.columns)

# df.set_index('PassengerId'.upper(), inplace = True)
# df.set_index('Name', inplace=True)
try:
    children = df['AGE'] == 10
except:
    pass
# print(df.loc[children].head(20))
children.value_counts(normalize = True)
df.columns = [c.upper() for c in df.columns] # Changinh the first letter in each column to capital letter
# df.columns = [c for c in df.columns]
# df['AGESA'].lower()
print(df.columns)
# df.loc[[67, 65], ['SEX', 'FULL_NAME', 'AGE']]
df.columns = df.columns.str.replace('_', ' ',)
df

Index(['PassengerId', 'Survived', 'Pclass', 'Full_name', 'Name.1', 'Surname',
       'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Class', 'Embarked',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20'],
      dtype='object')

NameError: name 'children' is not defined

In [ ]:
df1 = pd.read_csv('TimeUse.csv')
df1.shape
df1.describe

In [ ]:
print(df.columns)
df['Full_name'].apply(len)
df['Sex'] = df['Sex'].map({'male': 'Male', 'female': 'Female'})
df['Survived'] = df['Survived'].replace({0: 'Yes', 1: 'No'})
df['Full_name'] = df['Full_name'].str.split(',', expand = True)
df.append({'Full_name': 'Emmanuel Chisom Ani', 'Sex': 'Male', 'Survived': 'Yes', 'Age': 21}, ignore_index= True)
# print(df)

df[df['Full_name']=='Emmanuel Chisom Ani']
df.drop(df[df['Full_name'] == 'Emmanuel Chisom Ani'].index)
# df.sort_values('Name', ascending = False)
# df
# df.Full_name
# df.apply(pd.Series.mi
pd.isnull(df['Age']. value_counts())
# df[d].value_counts()
df['Age'].nlargest(10)
# df['Age'].sort_values(ascending = False).head(10)
df['Age'].nsmallest(10)
df['Age'].sort_values(ascending = True).head(10)
df['Sex']
df

:

In [ ]:
print(df.columns)
Sex_grp = df.groupby(['Sex'])
# Sex_grp.get_group('Male')
# Sex_grp['Class'].value_counts().loc('male')

df['Survived'].replace([1, 0], ['Yes', 'No'], inplace = True)
# Sex_grp['Survived'].value_counts(normalize = True )
Sex_grp['Age'].agg(['median', 'mean','min', 'max'])
n = df['Full_name'].str.contains('Ani')
df[-n]
# df.isnull().value_counts()
# df.dropna(inplace = True)
# df.dropna(axis=1, inplace = True)
df.isnull().value_counts()
df.fillna(0)
df['Sex'] = df['Sex'].astype(float)
df['Survived'] = df['Survived'].astype(str)
df.dtypes
df

Index(['PassengerId', 'Survived', 'Pclass', 'Full_name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Class', 'Embarked'],
      dtype='object')

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Full_name, Sex, Age, SibSp, Parch, Ticket, Fare, Class, Embarked]
Index: []

In [8]:
df.head(6)

,PassengerId,Survived,Pclass,Full_name,Name.1,Surname,Sex,Age,SibSp,Parch,Ticket,Fare,Class,Embarked,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,1,0,3,"Braund, Mr. Owen Harris",Braund,Mr. Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Cumings,Mrs. John Bradley (Florence Briggs Thayer),female,38.0,1,0,PC 17599,71.2833,C85,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,3,"Heikkinen, Miss. Laina",Heikkinen,Miss. Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",Futrelle,Mrs. Jacques Heath (Lily May Peel),female,35.0,1,0,113803,53.1000,C123,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,3,"Allen, Mr. William Henry",Allen,Mr. William Henry,male,35.0,0,0,373450,8.0500,NaN,S,NaN,Monday,NaN,Tuesday,Wednesday,Thursday,Friday
5,6,0,3,"Moran, Mr. James",Moran,Mr. James,male,NaN,0,0,330877,8.4583,NaN,Q,NaN,NaN,NaN,NaN,NaN,NaN,NaN