In [31]:
import pandas as pd
import matplotlib.pyplot as plt

medals = pd.read_excel('Medals.xlsx')
print(medals.columns)
medals.rename(columns={'Team/NOC': 'Country'}, inplace = True)
medals
Nig = medals['Country'] == 'Nigeria'
medals[Nig]

Index(['Rank', 'Team/NOC', 'Gold', 'Silver', 'Bronze', 'Total',
       'Rank by Total'],
      dtype='object')

C:\Users\Latitude E7270\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

    Rank  Country  Gold  Silver  Bronze  Total  Rank by Total
75    74  Nigeria     0       1       1      2             66